@model MVCAuctionPortal.Models.BasketViewModel
@{
    ViewBag.Title = "Koszyk";
}

<h2>Koszyk</h2>
<form id="basket-form" method="post" action="@Url.Action("UpdateBasket", "Basket")">
    <table class="table">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Ilość</th>
            <th>Usuń</th>
            <th>Wybrane</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.BasketAuctions.Select((auction, i) => new { Auction = auction, Index = i }))
        {
            <tr>
                <td>@item.Auction.Title</td>
                <td>@item.Auction.Price</td>

                <td>
                    <input type="hidden" name="AuctionId[]" value="@item.Auction.AuctionId" />
                    <input type="number" min="0" value="@item.Auction.Quantity" data-auction-id="@item.Auction.AuctionId" data-price="@item.Auction.Price" class="quantity-input" name="Quantity[]" />


                </td>
                <td>
                    <form method="post" action="@Url.Action("DeleteFromBasket", "Basket")">
                        <input type="hidden" name="auctionId" value="@item.Auction.AuctionId" />
                        <button class="btn btn-danger remove-button">Usuń</button>
                    </form>
                </td>
                <td>
                    <input type="checkbox" @(item.Auction.Selected ? "checked" : "") data-auction-id="@item.Auction.AuctionId" class="selected-checkbox" name="Selected[@item.Index]" />
                </td>
            </tr>
        }
        </tbody>
    </table>
    <input type="submit" value="Zapisz" class="btn btn-primary" />
    <button type="button" class="btn btn-success" id="submit-order-button">Złóż zamówienie</button>
</form>


<p>
    <strong>Suma:</strong> <span id="summary-price">@Model.SummaryPrice</span>$
</p>

@section Scripts {
    <script>
        $(function () {
            function updateSummaryPrice() {
                var summaryPrice = 0;
                $(".selected-checkbox:checked").each(function () {
                    var auctionId = $(this).data("auction-id");
                    var quantityInput = $(".quantity-input[data-auction-id='" + auctionId + "']");
                    var price = parseFloat(quantityInput.data("price"));
                    var quantity = parseInt(quantityInput.val());

                    summaryPrice += price * quantity;
                });

                $("#summary-price").text(summaryPrice.toFixed(2));
            }

            $(".quantity-input").on("change", updateSummaryPrice);
            $(".selected-checkbox").on("change", updateSummaryPrice);

            $(".remove-button").on("click", function (event) {
                event.preventDefault();

                var form = $(this).closest("form");
                var auctionId = form.find("input[name='auctionId']").val();

                $.post("/Basket/DeleteFromBasket", { auctionId: auctionId }, function () {
                    form.closest("tr").remove();
                    updateSummaryPrice();
                });
            });

            updateSummaryPrice();
        });
        $("#submit-order-button").on("click", function () {
            var selectedAuctions = [];
            var quantities = [];

            $(".selected-checkbox:checked").each(function () {
                var auctionId = $(this).data("auction-id");
                var quantityInput = $(".quantity-input[data-auction-id='" + auctionId + "']");
                var quantity = parseInt(quantityInput.val());

                selectedAuctions.push(auctionId);
                quantities.push(quantity);
            });

            if (selectedAuctions.length > 0) {
                var form = $("#basket-form");
                form.attr("action", '@Url.Action("OrderForm", "Basket")');
                form.submit();
            } else {
                alert("Proszę wybrać przynajmniej jedną aukcję.");
            }

        });
    </script>
}

