@model AuctionPortal.Models.Order

@{
    ViewBag.Title = "Order Details";
}

<h2>Order Details #@Model.OrderID</h2>

<table class="table">
    <thead>
    <tr>
        <th>Order ID</th>
        <th>Order Date</th>
        <th>Status</th>
        <th>Payment Method</th>
        <th>Order Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Model.OrderID</td>
        <td>@Model.OrderDate</td>
        <td>@Model.OrderStatus</td>
        <td>@Model.PaymentMethod</td>
        <td>@Model.OrderItems.Sum(oi => oi.Auction.Price * oi.Quantity)</td>
    </tr>
    </tbody>
</table>

<h3>Auctions</h3>
<table class="table">
    <thead>
    <tr>
        <th>Auction Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var orderItem in Model.OrderItems)
    {
        <tr>
            <td>@orderItem.Auction.Title</td>
            <td>@orderItem.Auction.Price</td>
            <td>@orderItem.Quantity</td>
            <td>@(orderItem.Auction.Price * orderItem.Quantity)</td>
        </tr>
    }
    </tbody>
</table>

<p>
    <a href="@Url.Action("UserOrders", "Order", new { userId = Model.UserID })" class="btn btn-primary">Back to orders list</a>
</p>