@model List<AuctionPortal.Models.Order>

@{
    ViewBag.Title = "Twoje zamówienia";
}

<h2>Twoje zamówienia</h2>

<table class="table">
    <thead>
    <tr>
        <th>Id zamówienia</th>
        <th>Data zamówienia</th>
        <th>Status</th>
        <th>Metoda płatności</th>
        <th>Wartość zamówienia</th>
        <th>Aukcje</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.OrderID</td>
            <td>@order.OrderDate</td>
            <td>@order.OrderStatus</td>
            <td>@order.PaymentMethod</td>
            <td>@order.OrderItems.Sum(oi => oi.Auction.Price * oi.Quantity)</td>
            <td>
                <ul>
                    @foreach (var orderItem in order.OrderItems)
                    {
                        <li>@orderItem.Auction.Title (Ilość: @orderItem.Quantity, Cena: @orderItem.Auction.Price)</li>
                    }
                </ul>
            </td>
            <td>
                <a href="@Url.Action("Details", "Order", new { id = order.OrderID })" class="btn btn-primary">Szczegóły</a>
            </td>
        </tr>
    }
    </tbody>
</table>