@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>User Panel</title>
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center">User Panel</h1>
        <hr>
        <div class="row">
            <!-- Seller actions -->
            <div class="col-md-6">
                <h2>Seller Actions</h2>
                <ul class="list-group">
                    <li class="list-group-item"><a href="@Url.Action("Create", "Auction")">Add Auction</a></li>
                    <li class="list-group-item"><a href="@Url.Action("Edit", "Auction")">Edit Auction</a></li>
                    <li class="list-group-item"><a href="@Url.Action("ListOfItems", "Item")">Edit Item</a></li>
                    <li class="list-group-item"><a href="@Url.Action("Edit", "Company")">Edit Company Info</a></li>
                    <li class="list-group-item"><a href="@Url.Action("Create", "Warranty")">Add Warranty</a></li>
                    <li class="list-group-item"><a href="@Url.Action("ListOfWarranties", "Warranty")">Edit Warranty</a></li>
                    <li class="list-group-item"><a href="@Url.Action("Create", "Coupon")">Add Coupon</a></li>
                    <li class="list-group-item"><a href="@Url.Action("Edit", "Coupon")">Edit Coupon</a></li>
                </ul>
            </div>

            <!-- User actions -->
            <div class="col-md-6">
                <h2>User Actions</h2>
                <ul class="list-group">
                    <li class="list-group-item"><a href="@Url.Action("UserOrders", "Order")">Manage Purchases</a></li>
                    <li class="list-group-item"><a href="@Url.Action("GetBasket", "Basket")">Manage Cart</a></li>
                    <li class="list-group-item"><a href="@Url.Action("AddReview", "User")">Add Review</a></li>
                    <li class="list-group-item"><a href="@Url.Action("ViewCoupons", "User")">View Coupons</a></li>
                    <li class="list-group-item"><a href="@Url.Action("EditUserDetails", "User")">Edit User Details</a></li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>

</html>
