@using AuctionPortal.Models
@model AuctionPortal.Models.Item

@{
    ViewData["Title"] = "Delete Confirmation";
}

<h2>Delete Confirmation</h2>
<p>Are you sure you want to delete this item?</p>

<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-md-4">Name:</dt>
            <dd class="col-md-8">@Model.Name</dd>

            <dt class="col-md-4">Description:</dt>
            <dd class="col-md-8">@Model.Description</dd>

            <dt class="col-md-4">Manufacturer:</dt>
            <dd class="col-md-8">@Model.Manufacturer</dd>

            <dt class="col-md-4">Condition:</dt>
            <dd class="col-md-8">@Model.Condition</dd>

            <dt class="col-md-4">Model:</dt>
            <dd class="col-md-8">@Model.Model</dd>

            <dt class="col-md-4">Other:</dt>
            <dd class="col-md-8">@Model.Other</dd>
        </dl>
    </div>
</div>

<div class="form-group">
    <form asp-action="Delete" asp-route-id="@Model.ItemID" method="post">
        <input type="hidden" asp-for="ItemID" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="ListOfItems" class="btn btn-secondary">Cancel</a>
    </form>
</div>
