@model IEnumerable<AuctionPortal.Models.Company>

@foreach (var company in Model)
{
    <h2>@company.Name</h2>

    <p><strong>NIP:</strong> @company.Nip</p>
    @if (!string.IsNullOrEmpty(company.Regon))
    {
        <p><strong>REGON:</strong> @company.Regon</p>
    }

    <p><strong>Country Establishment:</strong> @company.CountryEstablishment</p>
    <p><strong>Date of Establishment:</strong> @company.DateOfEstablishment.ToString("dd/MM/yyyy")</p>
    <p><strong>Description:</strong> @company.Description</p>

}