@model AuctionPortal.Models.Item
@using AuctionPortal.Models
@{
    ViewData["Title"] = "Item Details";
    var reviews = ViewData["Reviews"] as List<Review>;
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>@Model.Name</h2>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">Item ID</dt>
            <dd class="col-sm-9">@Model.ItemID</dd>

            <dt class="col-sm-3">Description</dt>
            <dd class="col-sm-9">@Model.Description</dd>

            <dt class="col-sm-3">Manufacturer</dt>
            <dd class="col-sm-9">@Model.Manufacturer</dd>

            <dt class="col-sm-3">Condition</dt>
            <dd class="col-sm-9">@Model.Condition</dd>

            <dt class="col-sm-3">Model</dt>
            <dd class="col-sm-9">@Model.Model</dd>

            <dt class="col-sm-3">Other</dt>
            <dd class="col-sm-9">@Model.Other</dd>
        </dl>
        <h3>Opinie</h3>
        @if (reviews != null && reviews.Count > 0)
        {
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Opis</th>
                    <th>Pozytywna</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var review in reviews)
                {
                    <tr>
                        <td>@review.Title</td>
                        <td>@review.Description</td>
                        <td>@(review.IsPositive ? "Tak" : "Nie")</td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <p>Brak opinii dla tego przedmiotu.</p>
        }
    </div>
</div>