@model AuctionPortal.Models.Item

@{
    ViewData["Title"] = "Item Details";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>@Model.Name</h2>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">Item ID</dt>
            <dd class="col-sm-9">@Model.ItemID</dd>

            <dt class="col-sm-3">Description</dt>
            <dd class="col-sm-9">@Model.Description</dd>

            <dt class="col-sm-3">Manufacturer</dt>
            <dd class="col-sm-9">@Model.Manufacturer</dd>

            <dt class="col-sm-3">Condition</dt>
            <dd class="col-sm-9">@Model.Condition</dd>

            <dt class="col-sm-3">Model</dt>
            <dd class="col-sm-9">@Model.Model</dd>

            <dt class="col-sm-3">Other</dt>
            <dd class="col-sm-9">@Model.Other</dd>
        </dl>
    </div>
</div>