@using AuctionPortal.Models
@model AuctionPortal.Models.Auction

@{
    ViewData["Title"] = "Auction Editing";
}

<form method="post" action="@Url.Action("Edit", "Auction")">

    <input type="hidden" name="AuctionID" value="@Model.AuctionID" />
    <input type="hidden" name="UserID" value="@Model.UserID" />


    <div class="form-group">
        <label for="Title">Title:</label>
        <input type="text" class="form-control" id="Title" name="Title" value="@Model.Title" required>
    </div>
    <div class="form-group">
        <label for="Description">Description:</label>
        <input type="text" class="form-control" id="Description" name="Item.Description" value="@Model.Item.Description" required>
    </div>
    <div class="form-group">
        <label for="EndDate">End Date:</label>
        <input type="date" class="form-control" id="EndDate" name="EndDate" value="@Model.EndDate" required>
    </div>
    <div class="form-group">
        <label for="Price">Price:</label>
        <input type="number" class="form-control" id="Price" name="Price" value="@Model.Price" required>
    </div>
    <div class="form-group">
        <label for="Pieces">Pieces:</label>
        <input type="number" class="form-control" id="Pieces" name="Pieces" value="@Model.Pieces" required>
    </div>
    <div class="form-group">
        <label for="SubCategoryID">Category ID:</label>
        <input type="number" class="form-control" id="SubCategoryID" name="SubCategoryID" value="@Model.SubCategoryID" required>
    </div>
    <div class="form-group">
        <label for="ItemID">Item ID:</label>
        <input type="number" class="form-control" id="ItemID" name="ItemID" value="@Model.ItemID" required>
    </div>
    <div class="form-group">
        <label for="WarrantyID">Warranty ID:</label>
        <input type="number" class="form-control" id="WarrantyID" name="WarrantyID" value="@Model.WarrantyID" required>
    </div>
    <div class="form-group">
        <label for="ImageURL">Image URL:</label>
        <input type="url" class="form-control" id="ImageURL" name="ImageURL" value="@Model.ImageURL" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
